GenerateSpecTool_5/bin/Debug/dist/Logs/*
GenerateSpecTool_5/bin/Debug/dist/Specification/out/temp/*
GenerateSpecTool_5/bin/Debug/dist/Specification/out/diagrams/*
GenerateSpecTool_5/bin/Debug/dist/Specification/out/XSD/*
